<div id="teamroster">
  <h2 class="hug push">Alla lag</h2>

  <% if @teams.length != 0 %>
    <% @teams.each do |team| %>
      <div class="team-display" style="border-left-color: <%= team.color %>">
        <h3 class="hug"><%= link_to team.name, team %></h3>
        <ul>
        <% team.members.map do |member| %>
          <li>
            <%= "#{member.name}" if !member.name.nil? %>
            <%= 'Okänd' if member.name.nil? %>
          </li>
        <% end %>
        </ul>
      </div>
    <% end %>
  <% else %>
    Inga lag &auml;n.
  <% end %>
</div>
