<h1><%= @team.name %></h1>

<h2>Medlemmar</h2>
<% if @team.members.length != 0 %>
	<% @team.members.each do |member| %>
	  <%= member.name %>
	<% end %>
<% else %>
  Inga medlemmar 채n
<% end %>

<h2>Ryggs채ck</h2>
<% if @team.members.length != 0 %>
	<% @team.backpack_contents.each do |bc| %>
	  <%= bc.number %> &#215; <%= bc.item.name %>
	<% end %>
<% else %>
	Ryggs채cken 채r tom
<% end %>
