<% if @success %>
	<h3 class="center-all push">K&ouml;pet genomf&ouml;rt</h3>
<% else %>
	<h3 class="center-all push">K&ouml;pet nekades &mdash; F&ouml;r lite po&auml;ng.</h3>
<% end %>
<br>
<%= link_to 'Tillbaka', @team, class: 'btn primary' %>

