.field {
  [type=text],
  [type=email],
  [type=password] {
    -webkit-appearance: none;
    background-color: transparent;
    border: transparent;
    border-bottom: 2px solid #2e6a6d;
    color: #2e6a6d;
    height: 2.2em;
    margin: 1em 0.5em;
  }
  [type=submit] {
    -webkit-appearance: none;
    background-color: #2e6a6d;
    border: none;
    color: white;
    padding: 0.5em 2em;
  }
}
