$bg-color: #030101;
$doc-color: rgba(243,243,243,0.1);


/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: $bg-color image-url("camp.jpg") no-repeat top center;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
	        background-size: cover;
  color: #2e6a6d;
}

.container {
  max-width: 66em;
  margin: 0 auto;
}

.logo {
	max-height: 12vh;
	max-width: 40vw;
}
.header,
.footer {
  text-align: center;
}
.main {
	text-align: center;
}
