$bg-color: #030101;
$doc-color: rgba(243,243,243,0.1);


/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: $bg-color image-url("camp.jpg") no-repeat top center;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
	        background-size: cover;
  color: #b0fcb9;
  padding-bottom: 4em;
}

.container {
  max-width: 33em;
  margin: 0 auto;
}

.logo {
	max-height: 12vh;
	max-width: 40vw;
}
.header,
.footer {
  text-align: center;
}
.main {
	text-align: center;
  background-color: rgba(100,100,100, 0.45);
  padding: 1em;
  margin: 1em;
  border-radius: 10px;
}
nav {
  background-color: hsla(36,95%,80%,0.8);
  background-color: rgba(100,100,100, 0.45);
  min-height: 45px;
  line-height: 45px;
  border-bottom: 5px solid red;
  strong {
    padding: 0 0.5em;
    margin: 0 0.5em;
  }
  .navbar-link {
    float: right;
    display: block;
    margin: 0 0.5em;
    padding: 0 0.5em;
    &:hover {
      background-color: rgba(255,255,255, 0.4);
    }
  }

}

.alert {
  width: 100%;
  display: block;
  padding: 0.7em;
  &.alert-success {
    background-color: hsla(127,100%,90%,0.85);
    color: darken(#4f9d4b, 35%);
  }
  &.alert-danger {
    background-color: hsla(36,95%,75%,0.85);
    color: darken(#c6461f, 15%);
  }
  p {
    padding: 0 1em;
    text-align: center;
  }
}

.devise_links a {
  display: inline-block;
  margin: 1em 1em;
  margin-bottom: 0;
}
