<!DOCTYPE html>
<html>
<head>
  <title>Avatar</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
	<div class="header">
		<nav class="navbar-left">
			<a href="#">Laget</a>
			<a href="#">Ryggsäck</a>
		</nav>

		<div class="navbar-right">
			Lagets poäng: 9999
		</div>
	</div>

	<%= yield %>
	

	<div class="footer">
		&copy; Future Youth Camp - 2015
	</div>
</div>

</body>
</html>
